<h1>Welcome to Mustang Books!</h1>
<p>A place for bibliophiles with substance and discretionary spending!<p>

  <p>In order to access Mustang Books users must sign-up or log-in. </p>
  <p>To Sign-Up and access Mustang Book Services please use this link <%= link_to "Sign-Up", sign_up_path %> <p>
  <p>Already have an account? <%= link_to "Log-In", log_in_path %> <p>