
<div class="jumbotron">
  <h1 class="display-4" style="color:red"><strong>Welcome to Mustang Books!</strong></h1>
  <p class="lead"><em>Your favorite e-books at affordable prices.</em></p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
  </p>
  <br>
  <br>
  <%= image_tag "bookcase.jpeg", width: 900, height: 370 %>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem float: right;">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title", style="text-align:center">The Authors</h4>
    <p class="card-text", style="text-align:center"> This site was created by Bailey Chambers, Eriel Traywick, Xin Ju, and Chris Moore</p>
  </div>
</div>
