
<div class="jumbotron">
  <h1 class="display-3" style="color:red">Welcome to Mustang Books!</h1>
  <p class="lead">Your favorite books at affordable prices.</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
  </p>
  <%= image_tag "bookcase.jpeg", width: 800, height: 350 %>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem float: right;">
  <div class="card-header">About</div>
  <div class="card-body">
    <h4 class="card-title">The Authors</h4>
    <p class="card-text">This site was created by Bailey Chambers, Eriel Traywick, Xin Ju, and Chris Moore</p>
  </div>
</div>
