<h2>All Orders</h2>

<% @orders.each do |order| %>
  <p>Name: <%= order.buyer_name %></p>
  <p>Credit Card Number: <%= order.credit_card_number %></p>
  -----------------------------------------------------
  <!-- <p>Items: </p> --> 
  <!-- <ul>
    <% order.cart_items.each do |item| %>
    <li><%= item.total %></li>
    <% end %> 
  </ul> --> 
<% end %>