<h1>Mustang Books</h1>
<% if current_user.try(:admin?) %>
       <%= link_to 'Add New Product', new_book_path %>
<% end %>
<br>
<br>

<table class="table table-hover">
  
  <tbody>
  <tr>
    <% books.each do |b| %>
      <tr>
        <%= link_to image_tag( b.assetlabel, height: 300), book_path(b) %>
        <br>
        <% if current_user.try(:admin?) %>
        <%= link_to '🔨', edit_book_path(b)  %>
        <% end %>
        <br>
        <br>
      </tr>
  </tr>
  </tbody>
</table>
<%end%>

