<div class="col-md-6 col-md-offset-3">

	<div class="new-review-form">

		<h1>New Review</h1>

		<%= form_with model: review, url: new_review_path, method: :post, local: true, scope: :reviews do |f| %>
			<div>
              <%= f.label :review %><br>
              <%= f.text_area  :comment, size: "27x7" %>
			</div>
			
			<%= f.submit "Submit Review" %>
		<% end %>
	</div>

</div>